body{
    background-color: rgb(213, 213, 213);
}

#seccion-formulario{
    background-color: gray;
    padding: 20px 20px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

#seccion-preguntasProg{
    background-color: rgb(89, 200, 227);
    padding: 20px 20px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
}

.error{
    background-color: rgba(255, 0, 0, 0.751);
}

.mensaje-exito{
    background-color: rgba(0, 128, 0, 0.69);
    padding: 50px 50px;
}

button {
    background-color: blue;
    color: white;
    border-radius: 1rem;
    border-color: blue;

}


